body {
  background: #1c1e20 !important;
}

p {
    text-align: left;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: capitalize;
}

ul.indent {
    margin: .3em 2em;
}

.center {
    text-align: center;
}

.reveal small {
    letter-spacing: 0.1em;
}